body {
    background-color: gainsboro;
}
.bold {
    font-weight: bold;
    font-style: normal;
}
.center{
    text-align: center;
    font-size: 26px;
    font-style: oblique;
    color:black;
}
.mainbody {
    top: 114px;
    bottom: 64px;
    right: 114px;
    left: 114px;
    padding-right: 5px;
}
.text {
    font-size: 20px;
    color: black;
}
.lookgood {
    font-size: 22px;
    color:aqua
}
.textsize {
    font-size: 26px;
    font-style: oblique;
    color:black;
}
.pics {
    font-size: 12px;
    color:dimgray
}